.box-shadow {
	-webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.52);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.52)
}

#login .container #login-row #login-column #login-box {
    
    max-width: 500px;
    height: 380px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;

  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }

  .text-right {
    text-align: left!important;
  }

  .container {
    animation: fadeIn .5s forwards;
    animation-delay: 0.5s; /* optional */
    opacity: 0;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }