<div>
    <button class="btn btn-dark float-right mb-2" [routerLink]="['/login']" >Logout</button>
</div>
<div>
  <h1>Create Task</h1>
  <form [formGroup]="productForm" (ngSubmit)="submitForm()" novalidate>
      <div class="form-group">
          <label>Title</label>
          <input type="text" formControlName="name" class="form-control" maxlength="20">
      </div>
      <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" formControlName="description" rows="3" maxlength="50"></textarea>
      </div>
      <div class="form-group">
          <label>Status</label>
          <input type="text" formControlName="status" class="form-control">
      </div>
      <div class="form-group">
          <label>Owner</label>
          <input type="text" formControlName="owner" class="form-control">
      </div>
      <div class="form-group">
        <label>DateCreated</label>
        <input type="date" formControlName="dateCreated" class="form-control">
    </div>
      <button type="submit">Submit</button>
  </form>
</div>